{% extends "base.html" %}
{% block content %}

<h1>Autores</h1>
<p>
    <a class="btn btn-success" href="{% url 'autor_new' %}" role="button">Nuevo</a>
</p>


{% if autores %}
<ul class="list-group">
    {% for autor in autores %}
    <li class="list-group-item">
        <a class="list-group-item list-group-item-action" href="{% url 'autor_update' autor.id %}">
            {{ autor.nombre }} {{ autor.apellido }}
        </a>
    </li>
    {% endfor %}
</ul>

{% else %}

<p>Oops! No tenemos Autores</p>

{% endif %}

{% endblock %}