{% extends "base.html" %} {% block content %}

<div class="card-body ">
  <h2 class="card-title">DW2024: <b>Catálogo</b></h2>
  <p class="card-text">Bienvenidos al <em>Catálogo</em>, una aplicación web desarrollada en Django.</p>


  <ul class="list-group">
    <li class="list-group-item">Nuestro catálogo se forma de:</li>
    <li class="list-group-item"><strong>Autores:</strong> {{ nroAutores }}</li>
    <!-- Las variables entre corchetes se obtiene del archivo views.py se obtiene de la variable context  -->
    <li class="list-group-item"><strong>Libros:</strong> {{ nroLibros }}</li>
    <li class="list-group-item"><strong>Ejemplares:</strong> {{ nroEjemplares }}</li>
    <li class="list-group-item"><strong>Disponibles:</strong> {{ nroDisponibles }}</li>
  </ul>

</div>

{% endblock %}