/* From Uiverse.io by SSpisso */
/* Body */
body {
    background-color: rgb(201, 193, 178);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: auto;
    gap: 0px;
}

hr {
    height: 1px;
    background-color: rgba(16, 86, 82, .75);
    ;
    border: none;
}

.card {
    width: 400px;
    background: rgb(255, 250, 235);
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.title {
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid rgba(16, 86, 82, .75);
    ;
    font-weight: 700;
    font-size: 11px;
    color: #000000;
}

/* Cart */
.cart {
    border-radius: 19px 19px 0px 0px;
}

.cart .steps {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.cart .steps .step {
    display: grid;
    gap: 10px;
}

.cart .steps .step span {
    font-size: 13px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 8px;
    display: block;
}

.cart .steps .step p {
    font-size: 11px;
    font-weight: 600;
    color: #000000;
}

/* Promo */
.promo form {
    display: grid;
    grid-template-columns: 1fr 80px;
    gap: 10px;
    padding: 0px;
}

.input_field {
    width: auto;
    height: 36px;
    padding: 0 0 0 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(16, 86, 82);
    background-color: rgb(251, 243, 228);
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px rgb(251, 243, 228);
    background-color: rgb(201, 193, 178);
}

.promo form button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
    width: 100%;
    height: 36px;
    background: rgba(16, 86, 82, .75);
    box-shadow: 0px 0.5px 0.5px #F3D2C9, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 5px;
    border: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

/* Checkout */
.payments .details {
    display: grid;
    grid-template-columns: 10fr 1fr;
    padding: 0px;
    gap: 5px;
}

.payments .details span:nth-child(odd) {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    margin: auto auto auto 0;
}

.payments .details span:nth-child(even) {
    font-size: 13px;
    font-weight: 600;
    color: #000000;
    margin: auto 0 auto auto;
}

.checkout .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    background-color: rgba(16, 86, 82, .5);
}

.price {
    position: relative;
    font-size: 22px;
    color: #2B2B2F;
    font-weight: 900;
}

.checkout .checkout-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 36px;
    background: rgba(16, 86, 82, .55);
    box-shadow: 0px 0.5px 0.5px rgba(16, 86, 82, .75), 0px 1px 0.5px rgba(16, 86, 82, .75);
    ;
    border-radius: 7px;
    border: 1px solid rgb(16, 86, 82);
    ;
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

body {
    margin-top: 20px;
}

/* ==========================================================================
   Credit Card Payment Section
   ========================================================================== */
.credit-card {
    background-color: #f4f4f4;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-holder {
    margin: 2em 0;
}

.img-box {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.card-box {
    font-weight: 800;
    padding: 1em 1em;
    border-radius: 0.25em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bg-news {
    background: -webkit-linear-gradient(70deg, #f54d70 40%, #ffffff 40%);
    background: -o-linear-gradient(70deg, #f54d70 40%, #ffffff 40%);
    background: -moz-linear-gradient(70deg, #f54d70 40%, #ffffff 40%);
    background: linear-gradient(70deg, #f54d70 40%, #ffffff 40%);
}

.btn-primary {
    background-image: -webkit-linear-gradient(315deg, #f54d70 0%, #fd8965 100%);
    background-image: -moz- oldlinear-gradient(315deg, #f54d70 0%, #fd8965 100%);
    background-image: -o-linear-gradient(315deg, #f54d70 0%, #fd8965 100%);
    background-image: linear-gradient(135deg, #f54d70 0%, #fd8965 100%);
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
    border: none !important;
}

.credit-card form {
    background-color: #ffffff;
    padding: 0;
    max-width: 600px;
    margin: auto;
}

.credit-card .title {
    font-family: 'Abhaya Libre', serif;
    font-size: 1em;
    color: #2C3E50;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0.8em;
    font-weight: 600;
    padding-bottom: 8px;
}

.credit-card .card-details {
    padding: 25px 25px 15px;
}

.inner-addon {
    position: relative;
}

.inner-addon .fas,
.inner-addon .far {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #bcbdbd !important;
}

.right-addon .fas,
.right-addon .far {
    right: 0px;
    top: 40px;
}

.right-addon input {
    padding-right: 30px;
}

.credit-card .card-details label {
    font-family: 'Abhaya Libre', serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #79818a;
    text-transform: uppercase;
}

.credit-card .card-details input[type="text"] {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    color: #636363;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

.credit-card .card-details input[type="text"]:focus {
    outline: none;
}

.credit-card .card-details button {
    margin-top: 0.6em;
    padding: 12px 0;
    font-weight: 600;
}

.credit-card .date-separator {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .credit-card {
        height: 250vh;
        width: 100%;
    }

    .credit-card .title {
        font-size: 1.2em;
    }

    .credit-card .row .col-lg-6 {
        margin-bottom: 40px;
    }

    .credit-card .card-details {
        padding: 40px 40px 30px;
    }

    .credit-card .card-details button {
        margin-top: 2em;
    }
}