<section class="text-center">
    {% if user.is_authenticated %}
    <div>
        <h3>Clientes</h3>
        <a href="{% url 'purchase_tickets' %}" class="btn btn-lg btn-success">Reserve su boleto</a>
        <a href="{% url 'client_purchases' %}" class="btn btn-lg btn-primary">Boletos Reservados</a>
    </div>
    <div class="mt-2">
        <h3>Vendedores</h3>
        <a href="{% url 'purchase_foods' %}" class="btn btn-lg btn-success">Venta Platillos</a>
        <a href="{% url 'purchase_merchandise' %}" class="btn btn-lg btn-success">Venta Mercancia</a>
        <a href="{% url 'purchases' %}" class="btn btn-lg btn-primary">Boletos</a>
    </div>
    <div class="mt-2">
        <h3>Administradores</h3>
        <a href="{% url 'receipts' %}" class="btn btn-lg btn-primary">Recibos</a>
        <a href="{% url 'journeys' %}" class="btn btn-lg btn-primary">Recorridos</a>
        <a href="{% url 'journey_schedules' %}" class="btn btn-lg btn-primary">Cronogramas de Recorridos</a>
    </div>
    {% else %}
    <a class="btn btn-lg btn-primary" href="{% url 'login' %}">Iniciar Sesión</a>
    <a class="btn btn-lg btn-success" href="{% url 'register' %}">Registrarse</a>
    {% endif %}

</section>