{% load static %}
<header class="header_ps">
    <a href="{% url 'home' %}" class="logo">
        <img src="{% static 'img/TrenALasNubesLogo.png' %}" alt="Logo">
    </a>
    <ul class="navbar_ps">
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="#">Recorrido</a></li>
        <li><a href="#">Beneficios</a></li>
        <li><a href="#">Contáctenos</a></li>
    </ul>

    <div class="h-right">
        {% if user.is_authenticated %}
        <li>
            <a class="nav-link px-2 text-white" href="#">
                User: {{ user.username }}</a>
        </li>
        <li>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="btn btn-outline-light me-2" type="submit">Cerrar Sesión</button>
            </form>
        </li>
        {% else %}
        <a class="btn btn-outline-light me-2" href="{% url 'login' %}">Iniciar Sesión</a>
        <a class="btn btn-outline-light btn-success" href="{% url 'register' %}">Registrarse</a>
        {% endif %}
    </div>
</header>