{% load i18n %}
{% include 'base.html' %}

{% block content %}
<section class="section_ps home_ps form-register">
    <div class="card container mt-5 center-text">
        <h1 class="mb-3 mt-3">{% translate "Recorridos" %}</h1>
        {% if journeys %}
        <div class="list-group">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>{% translate "Tipo" %}</th>
                        <th>{% translate "Descripcion" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for journey in journeys %}
                    <tr>
                        <td>{{ journey.id }}</td>
                        <td>{{ journey.type }}</td>
                        <td>{{ journey.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>{% translate "No se registraron recorridos" %}.</p>
        {% endif %}
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}