{% include 'base.html' %}

{% block content %}
<section class="section_ps home_ps form-register font-black">
    <div class="card container mt-5 center-text">
        <h1 class="mb-3 mt-3">Cronograma de Recorridos</h1>
        {% if journey_schedules %}
        <div class="list-group">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo de Recorrido </th>
                        <th>Hora de Salida</th>
                        <th>Hora de Llegada</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for journey_schedule in journey_schedules %}
                    <tr>
                        <td>{{ journey_schedule.id }}</td>
                        <td>{{ journey_schedule.journey }}</td>
                        <td>{{ journey_schedule.departure_time }}</td>
                        <td>{{ journey_schedule.arrival_time }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'journey_schedule_update' journey_schedule.id %}">
                                Editar
                            </a>
                            <a class="btn btn-danger" href="" data-toggle="modal"
                                data-target="#exampleModal{{journey_schedule.id}}">
                                Eliminar
                            </a>
                        </td>
                        {% include "journey_schedule_modal.html" %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                <a class="btn btn-success" href="{% url 'journey_schedule_new' %}" role="button">Nuevo</a>
            </p>
        </div>
        {% else %}
        <p>No se registraron cronogramas para recorridos.</p>
        {% endif %}
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}