{% load i18n %}
{% include 'base.html' %}

{% block content %}
<section class="text-center cover-container d-flex w-100 h-100  mx-auto flex-column">
    <div class="px-3 my-auto section_ps home_ps form-register font-black">
        <div class="
                        card
                        top-50 start-50
                        translate-middle 
                        h-auto d-inline-block
                        w-auto p-3 mt-5
                        shadow p-3 mb-5 bg-white rounded
                        ">
            <div class="card-body">
                <h1 class="title_ps">{% translate "Recorridos" %}</h1>
                {% if journeys %}
                <div class="scroll-table-ps row">
                    <table class="table table-sm table-bordered table-striped table-hover">
                        <thead style="position: sticky; top: 0;">
                            <tr>
                                <th>ID</th>
                                <th>{% translate "Tipo" %}</th>
                                <th>{% translate "Descripcion" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for journey in journeys %}
                            <tr>
                                <td>{{ journey.id }}</td>
                                <td>{{ journey.type }}</td>
                                <td>{{ journey.description }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p>{% translate "No se registraron recorridos" %}.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}