{% include 'base.html' %}

{% block content %}
<section class="section_ps home_ps form-register">
    <div class="card container mt-5 center-text">
        <h1 class="mb-3 mt-3">Mercancias</h1>
        {% if merchandises %}
        <div class="list-group">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Descripción</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for merchandise in merchandises %}
                    <tr>
                        <td>{{ merchandise.id }}</td>
                        <td>{{ merchandise.name }}</td>
                        <td>{{ merchandise.price }}</td>
                        <td>{{ merchandise.description }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'merchandise_update' merchandise.id %}">
                                Editar
                            </a>
                            <a class="btn btn-danger" href="" data-toggle="modal"
                                data-target="#exampleModal{{merchandise.id}}">
                                Eliminar
                            </a>
                        </td>
                        {% include "merchandise_delete_modal.html" %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                <a class="btn btn-success" href="{% url 'merchandise_new' %}" role="button">Nuevo</a>
            </p>
        </div>
        {% else %}
        <p>No se registraron mercancias disponibles.</p>
        {% endif %}
    </div>
</section>

{% include 'footer.html' %}
{% endblock %}