{% load i18n %}
{% include 'base.html' %}

{% block content %}
<section class="section_ps home_ps form-register font-black">
    <div class="card container mt-5 center-text">
        <h1 class="mb-3 mt-3">{% translate "Venta de Boletos" %}</h1>
        {% if sales_with_urls %}
        <div class="list-group">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>{% translate "Usuario" %}</th>
                        <th>Total</th>
                        <th>{% translate "Fecha" %}</th>
                        <th>{% translate "Acción" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in sales_with_urls %}
                    <tr>
                        <td>{{ item.sale.id }}</td>
                        {% if item.sale.user %}
                        <td>{{ item.sale.user }}</td>
                        {% else %}
                        <td>{% translate "Usuario no registrado" %}</td>
                        {% endif %}
                        <td>{{ item.sale.price }}</td>
                        <td>{{ item.sale.purchase_date }}</td>
                        <td>
                            <a href="{{ item.detail_url }}" class="btn btn-primary">{% translate "Ver Boletos" %}</a>
                            <a href="{{ item.payment_url }}" class="btn btn-success">
                                {% translate "Ver Comprobante" %}
                            </a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>{% translate "No se ha realizado ninguna compra de boletos" %}.</p>
        {% endif %}
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}