{% load i18n %}
{% include 'base.html' %}

{% block content %}
<section class="section_ps home_ps form-register font-black">
    <div class="card container mt-5 center-text">
        <h1 class="mb-3 mt-3">{% translate "Detalles de Venta" %}</h1>
        <h4>{% translate "Venta" %} ID: {{ receipt.id }}</h4>
        <h4>{% translate "Pasajero" %}: {{ receipt.passenger.dni_or_passport }}</h4>
        <p>Total: {{ receipt.price }}</p>
        <p>{% translate "Fecha" %}: {{ receipt.purchase_date }}</p>

        {% if details %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID {% translate "Detalle" %}</th>
                    <th>{% translate "Producto" %}</th>
                    <th>{% translate "Cantidad" %}</th>
                    <th>{% translate "Precio Unitario" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in details %}
                <tr>
                    <td>{{ detail.id }}</td>
                    {% if detail.meal %}
                    <td>{{ detail.meal }}</td>
                    {% elif detail.merchandise %}
                    <td>{{ detail.merchandise }}</td>
                    {% endif %}
                    <td>{{ detail.quantity }}</td>
                    <td>{{ detail.unit_price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>{% translate "No hay detalles asociados a este recibo" %}.</p>
        {% endif %}
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}