{% load i18n %}
{% include 'base.html' %}

{% block content %}
<section class="text-center cover-container d-flex w-100 h-100  mx-auto flex-column">
    <div class="px-3 my-auto section_ps home_ps form-register font-black">
        <div class="
                        card
                        top-50 start-50
                        translate-middle 
                        h-auto d-inline-block
                        w-auto p-3 mt-5
                        shadow p-3 mb-5 bg-white rounded
                        ">
            <div class="card-body">

            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}