{% load i18n %}
{% include 'public/base.html' %}

{% block content %}
<section class="section_ps home_ps form-register font-black">
    <div class="card container mt-5 center-text">
        <h1 class="mb-3 mt-3">{% translate "Detalles de Venta" %}</h1>
        <h4>{% translate "Venta" %} ID: {{ sale.id }}</h4>
        <p>Total: {{ sale.price }}</p>
        <p>{% translate "Fecha" %}: {{ sale.purchase_date }}</p>

        {% if tickets %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID {% translate "Boleto" %}</th>
                    <th>{% translate "DNI/Pasaporte" %}</th>
                    <th>{% translate "Asiento" %}</th>
                    <th>{% translate "Clase" %}</th>
                    <th>{% translate "Recorrido" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.passenger.dni_or_passport }}</td>
                    <td>{{ ticket.seat.seat_number }}</td>
                    <td>{{ ticket.seat.category }}</td>
                    <td>{{ ticket.schedule }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>{% translate "No hay boletos asociados a esta venta" %}.</p>
        {% endif %}
    </div>
</section>
{% include 'public/footer.html' %}
{% endblock %}